<!-- Message d'information pour les champs obligatoires (s'il en existe) -->
@if (page && !page.modeObligatoireParDefaut) {
  <p class="mentionObligatoireParDefaut">Les champs marqués d'un <span class="symbol-required">*</span>
sont obligatoires</p>
}
@if (page && page.modeObligatoireParDefaut) {
  <p class="mentionPasObligatoireParDefaut">Sauf indication contraire, <b>toutes les informations
  demandées sont obligatoires</b> pour pouvoir
traiter votre demande.</p>
}

<!-- Titre de la page -->
<h2>{{(page) ? page.titre : ''}}</h2>

@if (formulaire) {
  <form [formGroup]="formulaire">
    <div class="fr-grid-row">
      <div class="fr-col-12">
        <fieldset class="fr-container">
          <legend>
            <h3>
              <span>Santé et retraite</span>
              <span class="fr-sr-only">Saisie complémentaire requise - affichage automatique</span>
            </h3>
          </legend>
          <div class="fr-grid-row panel panel-default">
            @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_agirc'] === true) {
              <div class="fr-col-12 checkbox agirc libelle"
                >
                <div class="fr-form-group">
                  <div class="fr-checkbox-group libelle">
                    <input type="checkbox" id="destinatairesSelectionnees_agirc"
                      [checked]="!!destinatairesSelectionnees && destinatairesSelectionnees['agirc'] === 'true'"
                      (change)="changerLaValeur($event, 'destinatairesSelectionnees_agirc')">
                      <label class="fr-label" for="destinatairesSelectionnees_agirc">
                        <span><img src="./jechangedecoordonnees/logoAgirc.gif" alt="" /> Régimes
                        ARRCO et AGIRC</span>
                      </label>
                    </div>
                    <a data-toggle="collapse" class="btn-help" [attr.aria-expanded]="flagAfficherAide['agirc']"
                      (click)="afficherMasquerAide('agirc')">
                      <span class="fr-fi-question-fill" aria-hidden="true"></span>
                    </a>
                    <div class="help-panel collapse" [class.show]="flagAfficherAide['agirc']">
                      <h4>Vous souhaitez informer vos caisses de retraite complémentaire de votre changement
                      d’adresse.</h4>
                      <h5>Vous êtes … </h5>
                      <p>salarié ou retraité du secteur privé et à ce titre vous êtes inscrit auprès d’une
                        caisse
                      de retraite Arrco et éventuellement inscrit auprès d’une caisse Agirc.</p>
                      <h5>Vous devez indiquer …</h5>
                      <p>votre numéro de sécurité sociale (présent sur votre carte Vitale ou vos bulletins de
                      salaire ou vos avis de paiement de l’Assédic) et votre date de naissance.</p>
                      <h5>Après l’envoi de votre demande … </h5>
                      <p>vos caisses de retraite complémentaire seront informées de ce changement et mettront
                        à
                        jour votre dossier. Si vous avez indiqué votre adresse courriel, vos caisses de
                        retraire
                      vous confirmeront l’enregistrement de votre changement d’adresse.</p>
                      <h5>Pour plus d’informations … </h5>
                      <p>sur la retraite complémentaire, vous pouvez consulter le site <a href="http://www.agirc-arrco.fr" target="_blank"
                        title="www.agirc-arrco.fr - Nouvelle fenêtre">www.agirc-arrco.fr<span aria-hidden="true"
                      class="icon"></span></a> ou contacter
                      votre caisse de retraite ou encore le Cicas (centre d’information, conseil et
                      accueil
                    des salariés) de votre département.</p>
                  </div>
                </div>
              </div>
            }
            @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_agirc'] !== true) {
              <div class="fr-col-12 destinataireInactif"
                >
                <span><img src="./jechangedecoordonnees/logoAgirc.gif" alt="" /> Régimes ARRCO et
                AGIRC</span>
                <p class="text-danger" style="margin-left:15px;" role="alert">Suite à des opérations
                  techniques,
                aucun dossier ne peut être transmis temporairement à l'AGIRC.</p>
              </div>
            }
            @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_cnmss'] === true) {
              <div class="fr-col-12 checkbox cnmss libelle"
                >
                <div class="fr-form-group">
                  <div class="fr-checkbox-group libelle">
                    <input type="checkbox" id="destinatairesSelectionnees_cnmss"
                      [checked]="!!destinatairesSelectionnees && destinatairesSelectionnees['cnmss'] === 'true'"
                      (change)="changerLaValeur($event, 'destinatairesSelectionnees_cnmss')">
                      <label class="fr-label" for="destinatairesSelectionnees_cnmss">
                        <span><img src="./jechangedecoordonnees/logoCnmss.png" alt="" />
                        Caisse Nationale Militaire de Sécurité Sociale (CNMSS)</span>
                      </label>
                    </div>
                    <a data-toggle="collapse" class="btn-help" [attr.aria-expanded]="flagAfficherAide['cnmss']"
                      (click)="afficherMasquerAide('cnmss')">
                      <span class="fr-fi-question-fill" aria-hidden="true"></span>
                    </a>
                    <div class="help-panel collapse" [class.show]="flagAfficherAide['cnmss']">
                      <h4>Vous souhaitez informer la Caisse Nationale Militaire de Sécurité Sociale de votre
                        changement de coordonnées.<br>Vous êtes ressortissant du régime de sécurité sociale
                        des
                      militaires.</h4>
                      <h5>Vous devez indiquer … </h5>
                      <p>Votre numéro de sécurité sociale qui figure sur votre attestation de droits ou la
                        Carte
                      Vitale de l’assuré mais aussi sur les relevés de paiement.</p>
                      <p><strong>Les personnes de votre foyer n’ont pas à faire de déclaration séparée si
                        elles
                        sont ayants droits sur votre propre compte, car l’information est prise en
                        compte
                      pour tous ces membres de la famille.</strong></p>
                      <h5>Après l’envoi de votre demande … </h5>
                      <p>Vous serez informés <strong>dans le tableau de bord de
                      mon.service-public.fr.</strong>
                    </p>
                    <h5>Le traitement sera effectué … </h5>
                    <p>Dans les <strong>15</strong> jours <strong>suivant la réception de votre
                  demande.</strong></p>
                  <h5>Pour plus d'informations ... </h5>
                  <p><strong>Consultez notre site</strong> <a href="http://www.cnmss.fr" target="_blank"
                  title="www.cnmss.fr - Nouvelle fenêtre">www.cnmss.fr<span aria-hidden="true" class="icon"></span></a>.</p>
                </div>
              </div>
            </div>
          }
          @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_cnmss'] !== true) {
            <div class="fr-col-12 destinataireInactif"
              >
              <span><img src="./jechangedecoordonnees/logoCnmss.png" alt="" /> Caisse Nationale
              Militaire de Sécurité Sociale (CNMSS)</span>
              <p class="text-danger" style="margin-left:15px;" role="alert">Suite à des opérations
                techniques,
              aucun dossier ne peut être transmis temporairement à la CNMSS.</p>
            </div>
          }
          @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_cpam'] === true) {
            <div class="fr-col-12 checkbox cpam libelle"
              >
              <div class="fr-form-group">
                <div class="fr-checkbox-group libelle">
                  <input type="checkbox" id="destinatairesSelectionnees_cpam"
                    [checked]="!!destinatairesSelectionnees && destinatairesSelectionnees['cpam'] === 'true'"
                    (change)="changerLaValeur($event, 'destinatairesSelectionnees_cpam')">
                    <label class="fr-label" for="destinatairesSelectionnees_cpam">
                      <span><img src="./jechangedecoordonnees/logoCapam.svg" style="width:120px;" alt="" />
                      CPAM / CGSS</span>
                    </label>
                  </div>
                  <a data-toggle="collapse" class="btn-help" [attr.aria-expanded]="flagAfficherAide['cnmss']"
                    (click)="afficherMasquerAide('cpam')">
                    <span class="fr-fi-question-fill" aria-hidden="true"></span>
                  </a>
                  <div class="help-panel collapse" [class.show]="flagAfficherAide['cpam']">
                    <h4>Vous souhaitez informer votre caisse de l'Assurance Maladie de votre changement
                    d’adresse.</h4>
                    <h5>Vous êtes rattaché à une CPAM ou une CGSS (dans un département d'outre-mer).</h5>
                    <p>Dans un premier temps, les assurés inscrits aux autres régimes (agricole, commerçant,
                      artisan, étudiant, mutuelles de fonctionnaires, etc) sont exclus de la procédure.
                    </p>
                    <p><strong>Vous trouverez votre identifiant NIR sur votre carte Vitale et sur vos
                      relevés de
                    remboursements.</strong></p>
                    <h5>Les personnes de votre foyer n’ont pas à faire de déclaration séparée si elles
                      dépendent
                    de votre CPAM ou CGSS.</h5>
                    <p>Les personnes qui ne disposent pas d’une carte VITALE personnelle doivent indiquer le
                      numéro de sécurité sociale de titulaire de la carte VITALE sur laquelle elle figure.
                    </p>
                    <p>Les personnes qui demeurent avec vous et qui ne dépendent pas de votre CPAM doivent
                      faire
                    une déclaration séparée sous leur propre numéro de sécurité sociale.</p>
                    <h5>Après l'envoi de votre demande ...</h5>
                    <p>votre caisse d’Assurance Maladie vous confirmera l’enregistrement de votre changement
                    d’adresse.</p>
                    <p>Si votre nouveau domicile se situe dans un autre département, elle vous communiquera
                      s’il
                      y a lieu les coordonnées de votre nouvelle caisse, les formalités à accomplir ou les
                    pièces justificatives à fournir.</p>
                    <h5>Pour plus d'informations ...</h5>
                    <p>En cas de problème, veuillez nous contacter via mon compte sur Ameli.fr si vous
                      disposez
                      d’un compte ou retrouvez les coordonnées de votre caisse d’Assurance Maladie sur
                    www.ameli.fr rubrique « votre caisse »</p>
                  </div>
                </div>
              </div>
            }
            @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_cpam'] !== true) {
              <div class="fr-col-12 destinataireInactif"
                >
                <span><img src="./jechangedecoordonnees/logoCapam.svg" style="width:120px;" alt="" />
                CPAM / CGSS</span>
                <p class="text-danger" style="margin-left:15px;" role="alert">Suite à des opérations
                  techniques,
                aucun dossier ne peut être transmis temporairement à la CPAM.</p>
              </div>
            }
            @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_cdc'] === true) {
              <div class="fr-col-12 checkbox cdc libelle"
                >
                <div class="fr-form-group">
                  <div class="fr-checkbox-group libelle">
                    <input type="checkbox" id="destinatairesSelectionnees_cdc"
                      [checked]="!!destinatairesSelectionnees && destinatairesSelectionnees['cdc'] === 'true'"
                      (change)="changerLaValeur($event, 'destinatairesSelectionnees_cdc')">
                      <label class="fr-label" for="destinatairesSelectionnees_cdc">
                        <span><img src="./jechangedecoordonnees/logoCdc.gif" alt="" />
                        Fonds gérés par la Caisse des dépots</span>
                      </label>
                    </div>
                    <a data-toggle="collapse" class="btn-help" [attr.aria-expanded]="flagAfficherAide['cdc']"
                      (click)="afficherMasquerAide('cdc')">
                      <span class="fr-fi-question-fill" aria-hidden="true"></span>
                    </a>
                    <div class="help-panel collapse" [class.show]="flagAfficherAide['cdc']">
                      <h4>Vous souhaitez informer la Caisse des dépôts de votre changement d’adresse.</h4>
                      <h5>Vous êtes affilié, retraité ou pensionné relevant de l’un au moins des fonds ou
                        régimes
                      suivants :</h5>
                      <div>
                        <ul>
                          <li>ATC - ICNA Allocation temporaire complémentaire des ingénieurs de contrôle
                            de la
                          navigation aérienne </li>
                          <li> ATIACL Allocation Temporaire d’Invalidité des Agents des Collectivités
                            Locales
                          </li>
                          <li> Chemin de fer de l’Hérault </li>
                          <li> CNRACL Caisses Nationale de Retraites des Agents des Collectivités Locales
                          </li>
                          <li> CRRFOM Caisses de retraites des régies ferroviaires d’outre-mer </li>
                          <li> FAEFM Fonds d’allocation des élus en fin de mandat </li>
                          <li> FCAT Fonds commun des accidents du travail </li>
                          <li> FCATA Fonds commun des accidents du travail agricole </li>
                          <li> FPA Fonds de prévoyance de l’aéronautique </li>
                          <li> FPM Fonds de prévoyance militaire </li>
                          <li> FSPOEIE Fonds Spécial des Pensions des Ouvriers des Etablissements
                            Industriels
                          de l'Etat </li>
                          <li> Imprimerie Nationale Régime spécial de pension du personnel de l’imprimerie
                          nationale </li>
                          <li> IRCANTEC Institution de Retraite Complémentaire des Agents Non Titulaires
                            de
                          l'Etat et des Collectivités publiques </li>
                          <li> MINES Retraite des Mines </li>
                          <li> Préfecture du Haut-Rhin Régime de la caisse de retraite du personnel
                          départemental du Haut-Rhin </li>
                          <li> RAFP Retraite Additionnelle de la Fonction Publique </li>
                          <li> RATOCEM Rentes d’accident du travail des ouvriers civils des établissements
                          militaires </li>
                          <li> RISP Le Régime d’Indemnisation des Sapeurs-Pompiers volontaires </li>
                          <li> SASPA Service de l'Allocation Solidarité aux Personnes Agées </li>
                          <li> SUDAC Pension et Complément de pension de la Société urbaine de
                            distribution
                          d’air comprimé</li>
                        </ul>
                      </div>
                      <p>Note : le changement d’adresse déclaré par vos soins sera mis en œuvre dans
                        l’ensemble
                      des fonds concernés.</p>
                      <p>Si vous êtes retraité et que vous percevez votre pension par chèque à votre domicile,
                        le
                        changement d’adresse ne peut être traité par ce canal. Prenez contact directement
                        avec
                      l’organisme correspondant.</p>
                      <p><strong>Vous devez indiquer votre numéro de sécurité sociale </strong>(présent sur
                      votre
                    carte Vitale).</p>
                    <p><strong>Les personnes de votre foyer n’ont pas à faire de déclaration séparée s’ils
                      ont
                    le même numéro de sécurité sociale.</strong></p>
                    <h5>Après l'envoi de votre demande ...</h5>
                    <p>si l'enregistrement de votre changement d'adresse n’a pas été possible, CDC
                      Retraites,
                    gestionnaire des fonds, vous informera dans un délai maximal de 8 jours.</p>
                    <h5>Pour plus d'informations ...</h5>
                    <p>sur les régimes gérés par la Caisse des dépôts, vous pouvez consulter le site <a href="http://www.cdc.retraites.fr"
                      target="_blank" title="www.cdc.retraites.fr - Nouvelle fenêtre">www.cdc.retraites.fr<span aria-hidden="true"
                    class="icon"></span></a>. En cas de
                    doutes
                    ou de problèmes sur le traitement de votre déclaration de changement d'adresse, vous
                  pouvez contacter votre régime.</p>
                </div>
              </div>
            </div>
          }
          @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_cdc'] !== true) {
            <div class="fr-col-12 destinataireInactif">
              <span><img src="./jechangedecoordonnees/logoCdc.gif" alt="" /> Fonds gérés par la
                Caisse
              des dépots</span>
              <p class="text-danger" style="margin-left:15px;" role="alert">Suite à des opérations
                techniques,
              aucun dossier ne peut être transmis temporairement à la Caisse des dépots.</p>
            </div>
          }
          @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_cnav'] === true) {
            <div class="fr-col-12 checkbox cnav libelle"
              >
              <div class="fr-form-group">
                <div class="fr-checkbox-group libelle">
                  <input type="checkbox" id="destinatairesSelectionnees_cnav"
                    [checked]="!!destinatairesSelectionnees && destinatairesSelectionnees['cnav'] === 'true'"
                    (change)="changerLaValeur($event, 'destinatairesSelectionnees_cnav')">
                    <label class="fr-label" for="destinatairesSelectionnees_cnav">
                      <span><img src="./jechangedecoordonnees/logoCnav.gif" alt="" />
                      CNAV, CARSAT, CRAV ou CGSS (Régime général)</span>
                    </label>
                  </div>
                  <a data-toggle="collapse" class="btn-help" [attr.aria-expanded]="flagAfficherAide['cnav']"
                    (click)="afficherMasquerAide('cnav')">
                    <span class="fr-fi-question-fill" aria-hidden="true"></span>
                  </a>
                  <div class="help-panel collapse" [class.show]="flagAfficherAide['cnav']">
                    <h4>Vous souhaitez informer votre caisse de Retraite de la Sécurité Sociale de votre
                    changement d’adresse.</h4>
                    <h5>Vous êtes … </h5>
                    <p>Salarié de l'industrie, du commerce et des services, Salarié non titulaire du secteur
                    public et para-public</p>
                    <p><strong>ET</strong></p>
                    <ul>
                      <li>Vous êtes retraité(e)</li>
                    </ul>
                    <p><strong>ou</strong></p>
                    <ul>
                      <li>Vous avez un dossier en cours (régularisation de carrière, rachat, …)</li>
                    </ul>
                    <p><strong>ou</strong></p>
                    <ul>
                      <li> Vous avez déposé un dossier de retraite auprès d’une de ces caisses :<ul>
                        <li>CNAV : Caisse Nationale d’Assurance Vieillesse (Paris et île de France)
                        </li>
                        <li>CARSAT : Caisse de Retraite et Santé au Travail (Province excepté Région
                        Alsace-Moselle)</li>
                        <li>CRAV : Caisse Régionale d’Assurance Vieillesse (Région Alsace-Moselle)
                        </li>
                        <li>CGSS : Caisse Générale de Sécurité Sociale (DOM)</li>
                      </ul>Vous devez indiquer votre numéro de sécurité sociale et sa clé (présent sur
                    votre carte VITALE).</li>
                  </ul>
                  <h5>Si plusieurs personnes sont concernées ... </h5>
                  <p>Les personnes qui sont concernées par ce changement d'adresse et qui sont dans l'une
                    des
                    situations mentionnées ci-dessus, doivent également déclarer leur nouvelle adresse
                    par
                  ce service.</p>
                  <h5>Après l'envoi de votre demande ... </h5>
                  <p>votre caisse de retraite procédera à l'enregistrement de votre changement d'adresse
                    et
                  vous adressera vos prochains courriers à votre nouvelle adresse. </p>
                  <h5>Pour plus d'informations ... </h5>
                  <p>sur la retraite du régime général, vous pouvez consulter le site <a href="http://www.lassuranceretraite.fr"
                    target="_blank" title="www.lassuranceretraite.fr - Nouvelle fenêtre">www.lassuranceretraite.fr<span
                  aria-hidden="true" class="icon"></span></a>.</p>
                  <p>En cas de doutes ou de problèmes sur le traitement de votre déclaration de changement
                    d'adresse, vous pouvez contacter la caisse de retraite de votre ancienne adresse.
                  </p>
                </div>
              </div>
            </div>
          }
          @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_cnav'] !== true) {
            <div class="fr-col-12 destinataireInactif"
              >
              <span><img src="./jechangedecoordonnees/logoCnav.gif" alt="" /> CNAV, CARSAT, CRAV ou
              CGSS (Régime général)</span>
              <p class="text-danger" style="margin-left:15px;" role="alert">Suite à des opérations
                techniques,
                aucun dossier ne peut être transmis temporairement à la CNAV, CARSAT, CRAV ou CGSS
                (Régime
              général).</p>
            </div>
          }
          @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_msa'] === true) {
            <div class="fr-col-12 checkbox msa libelle"
              >
              <div class="fr-form-group">
                <div class="fr-checkbox-group libelle">
                  <input type="checkbox" id="destinatairesSelectionnees_msa"
                    [checked]="!!destinatairesSelectionnees && destinatairesSelectionnees['msa'] === 'true'"
                    (change)="changerLaValeur($event, 'destinatairesSelectionnees_msa')">
                    <label class="fr-label" for="destinatairesSelectionnees_msa">
                      <span><img src="./jechangedecoordonnees/logoMsa.gif" alt="" />
                      MSA</span>
                    </label>
                  </div>
                  <a data-toggle="collapse" class="btn-help" [attr.aria-expanded]="flagAfficherAide['msa']"
                    (click)="afficherMasquerAide('msa')">
                    <span class="fr-fi-question-fill" aria-hidden="true"></span>
                  </a>
                  <div class="help-panel collapse" [class.show]="flagAfficherAide['msa']">
                    <h4>Vous souhaitez informer la MSA de votre changement d’adresse.</h4>
                    <h5>Vous êtes … </h5>
                    <p>un particulier inscrit à la Mutualité Sociale Agricole, régime de protection sociale
                      des
                    salariés et des non-salariés agricoles.</p>
                    <p><strong>Vous devez indiquer votre numéro de sécurité sociale</strong>(présent sur les
                  documents adressés par la MSA).</p>
                  <h5>Si plusieurs personnes sont concernées ... </h5>
                  <p>vous pouvez effectuer le changement d’adresse pour chaque membre de votre famille en
                  indiquant leur identité et leur numéro de sécurité sociale.</p>
                  <h5>Après l'envoi de votre demande ... </h5>
                  <p>vous recevrez, dans un délai de 10 jours maximum, à votre nouvelle adresse, une
                    confirmation de l’enregistrement de vos nouvelles coordonnées par la MSA qui gère
                    votre
                  dossier ainsi que les démarches éventuelles à accomplir.</p>
                  <h5>Pour plus d'informations ... </h5>
                  <p>vous pouvez retrouver les coordonnées de l'ensemble des Caisses de MSA sur notre site
                    Internet <a href="http://www.msa.fr" target="_blank"
                    title="http://www.msa.fr - Nouvelle fenêtre">http://www.msa.fr<span aria-hidden="true"
                  class="icon"></span></a> à la rubrique
                  "contact" ou la rubrique "le réseau des caisses" de l'espace "La MSA vous
                  accompagne" ou
                  directement en indiquant le numéro du département concerné sur la page d'accueil de
                notre site.</p>
              </div>
            </div>
          </div>
        }
        @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_msa'] !== true) {
          <div class="fr-col-12 destinataireInactif">
            <span><img src="./jechangedecoordonnees/logoMsa.gif" alt="" /> MSA</span>
            <p class="text-danger" style="margin-left:15px;" role="alert">Suite à des opérations
              techniques,
            aucun dossier ne peut être transmis temporairement à la MSA.</p>
          </div>
        }
        @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_camieg'] === true) {
          <div class="fr-col-12 checkbox camieg libelle"
            >
            <div class="fr-form-group">
              <div class="fr-checkbox-group libelle">
                <input type="checkbox" id="destinatairesSelectionnees_camieg"
                  [checked]="!!destinatairesSelectionnees && destinatairesSelectionnees['camieg'] === 'true'"
                  (change)="changerLaValeur($event, 'destinatairesSelectionnees_camieg')">
                  <label class="fr-label" for="destinatairesSelectionnees_camieg">
                    <span><img src="./jechangedecoordonnees/logoCamieg.png" alt="" />
                    CAMIEG</span>
                  </label>
                </div>
                <a data-toggle="collapse" class="btn-help" [attr.aria-expanded]="flagAfficherAide['camieg']"
                  (click)="afficherMasquerAide('camieg')">
                  <span class="fr-fi-question-fill" aria-hidden="true"></span>
                </a>
                <div class="help-panel collapse" [class.show]="flagAfficherAide['camieg']">
                  <h4>Vous souhaitez informer la CAMIEG de votre changement d’adresse.</h4>
                  <p><strong>Vous trouverez votre identifiant NIR sur votre carte Vitale et sur vos
                    relevés de
                  remboursements.</strong></p>
                  <p><strong>Les personnes de votre foyer n’ont pas à faire de déclaration séparée si
                    elles
                  dépendent de la CAMIEG.</strong></p>
                  <p>Les personnes qui ne disposent pas d’une carte VITALE personnelle doivent indiquer le
                    numéro de sécurité sociale du titulaire de la carte VITALE sur laquelle elles
                    figurent
                  </p>
                  <h5>Après l'envoi de votre demande ...</h5>
                  <p>La CAMIEG vous confirmera l’enregistrement de votre changement d’adresse.</p>
                  <h5>Pour plus d'informations ...</h5>
                  <p>En cas de problème, veuillez nous contacter via votre compte Ameli ou retrouvez les
                    coordonnées de la CAMIEG sur <a href="http://www.camieg.fr" title="http://www.camieg.fr - nouvelle fenêtre"
                    target="_blank">www.camieg.fr<span class="icon"></span></a>
                    en cliquant sur « Nous contacter»
                  (ou sur le picto représentant une enveloppe).</p>
                </div>
              </div>
            </div>
          }
          @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_camieg'] !== true) {
            <div class="fr-col-12 destinataireInactif"
              >
              <span><img src="./jechangedecoordonnees/logoCamieg.png" alt="" /> CAMIEG</span>
              <p class="text-danger" style="margin-left:15px;" role="alert">Suite à des opérations
                techniques,
              aucun dossier ne peut être transmis temporairement à la CAMIEG.</p>
            </div>
          }
          @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_enim'] === true) {
            <div class="fr-col-12 checkbox enim libelle"
              >
              <div class="fr-form-group">
                <div class="fr-checkbox-group libelle">
                  <input type="checkbox" id="destinatairesSelectionnees_enim"
                    [checked]="!!destinatairesSelectionnees && destinatairesSelectionnees['enim'] === 'true'"
                    (change)="changerLaValeur($event, 'destinatairesSelectionnees_enim')">
                    <label class="fr-label" for="destinatairesSelectionnees_enim">
                      <span><img src="./jechangedecoordonnees/logoEnim.jpg" alt="" />
                      ENIM</span>
                    </label>
                  </div>
                  <a data-toggle="collapse" class="btn-help" [attr.aria-expanded]="flagAfficherAide['enim']"
                    (click)="afficherMasquerAide('enim')">
                    <span class="fr-fi-question-fill" aria-hidden="true"></span>
                  </a>
                  <div class="help-panel collapse" [class.show]="flagAfficherAide['enim']">
                    <h4>Vous souhaitez informer l’Enim de votre changement d’adresse. </h4>
                    <h5>Vous êtes …</h5>
                    <p>un particulier inscrit à la l’Enim, régime de protection sociale des marins.</p>
                    <p>Vous devez indiquer votre numéro de sécurité sociale (présent sur les documents
                      adressés
                    par l’Enim).</p><br>
                    <h5>Si plusieurs personnes sont concernées ...</h5>
                    <p>vous pouvez effectuer le changement d’adresse pour chaque membre de votre famille en
                    indiquant leur identité et leur numéro de sécurité sociale.</p><br>
                    <p>Vous pouvez retrouver toutes les informations nécessaires à vos prises en charge sur
                      le
                      site internet <a href="http://www.enim.eu" title="http://www.enim.eu - nouvelle fenêtre"
                      target="_blank">www.enim.eu<span class="icon"></span></a> .</p>
                    </div>
                  </div>
                </div>
              }
              @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_enim'] !== true) {
                <div class="fr-col-12 destinataireInactif"
                  >
                  <span><img src="./jechangedecoordonnees/logoEnim.jpg" alt="" /> ENIM</span>
                  <p class="text-danger" style="margin-left:15px;" role="alert">Suite à des opérations
                    techniques,
                  aucun dossier ne peut être transmis temporairement à la CAMIEG.</p>
                </div>
              }
              @if (flagMasquerNumeroSecu) {
                <div class="fr-col-md-12 numeroSecu">
                  <div [class.fr-input-group--error]="saisieNumeroSecuInvalide" [class.fr-input-group--valid]="saisieNumeroSecuValide"
                    class="fr-input-group fr-form-group">
                    <div class="libelle">
                      <label class="fr-label" for="idSaisieNumeroSecu">
                        <span class="symbol-required">* </span>
                        <span>Votre numéro de sécurité sociale sera communiqué aux
                        organismes que vous avez cochés ci-dessus.</span>
                      </label>
                    </div>
                    <input class="fr-input" [class.fr-input--error]="saisieNumeroSecuInvalide"
                      [class.fr-input--valid]="saisieNumeroSecuValide" aria-describedby="desc-SaisieNumeroSecu" type="text"
                      id="idSaisieNumeroSecu" formControlName="numeroSecu">
                      @if (formulaire.get('numeroSecu')) {
                        <p data-fmk-messagesvalidation id="desc-SaisieNumeroSecu"
                        [controle]="formulaire.get('numeroSecu')" aria-live="assertive"></p>
                      }
                    </div>
                  </div>
                }
              </div>
            </fieldset>
          </div>
        </div>
        <div class="fr-grid-row">
          <div class="fr-col-12">
            <fieldset class="fr-container">
              <legend>
                <h3>
                  <span>Autres organismes privés</span>
                  <span class="fr-sr-only">Saisie complémentaire requise - affichage automatique</span>
                </h3>
              </legend>
              <div class="fr-grid-row panel panel-default">
                @if (destinatairesActifs && destinatairesActifs['destinatairesActifs_laposte'] === true) {
                  <div class="fr-col-md-12 checkbox laposte libelle"
                    >
                    <div class="fr-form-group">
                      <div class="fr-checkbox-group libelle">
                        <input type="checkbox" id="destinatairesSelectionnees_laposte"
                          [checked]="!!destinatairesSelectionnees && destinatairesSelectionnees['laposte'] === 'true'"
                          (change)="changerLaValeur($event, 'destinatairesSelectionnees_laposte')">
                          <label class="fr-label" for="destinatairesSelectionnees_laposte">
                            <span><img src="./jechangedecoordonnees/logoPoste.gif" alt="" />
                            La Poste</span>
                          </label>
                        </div>
                        <a data-toggle="collapse" class="btn-help" [attr.aria-expanded]="flagAfficherAide['laposte']"
                          (click)="afficherMasquerAide('laposte')">
                          <span class="fr-fi-question-fill" aria-hidden="true"></span>
                        </a>
                        <div class="help-panel collapse" [class.show]="flagAfficherAide['laposte']">
                          <p>Vous souhaitez informer La Poste de votre changement de coordonnées et souscrire un
                            contrat de réexpédition. Le service de réexpédition définitive de La Poste vous
                            permet
                            de faire suivre l’intégralité du courrier reçu à votre adresse actuelle en France
                          métropolitaine ou dans les DOM vers votre nouveau domicile.</p>
                          <p>Après envoi de votre demande, La Poste vous enverra immédiatement un courriel de
                            confirmation. Vous serez alors invité(e) à vous rendre sur le site de réexpédition
                            du
                            courrier de La Poste où vous pourrez choisir, compléter si nécessaire et payer en
                            ligne
                            votre contrat. Le service de réexpédition pourra débuter au plus tôt 2 jours ouvrés
                          après la date de souscription de votre contrat.</p>
                        </div>
                      </div>
                    </div>
                  }
                </div>
              </fieldset>
            </div>
          </div>
        </form>
      }