/** Input plus petits */
input.listeFinie { border: none; background: none; padding: 0; outline: none; font: inherit; text-align: center; width: 40%; }
/** Petit bouton pour avoir 2 input et le span bien alignés */
button.listeFinie { height: 20px; width: 20px; }