<html>
    <head><title>Redirection en cours</title></head>
    <body>
        <p>Redirection en cours</p>
        <script>window.location='https://www.service-public.fr/';</script>
    </body>
</html>